@model IEnumerable<DOANCOSO26.Models.Bus>

<div class="card shadow border-0 mt-4">
    <div class="">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="">Danh sách xe </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <a asp-action="Add" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Tạo xe mới
            </a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>

                <tr>
                    <th>
                        Hãng
                    </th>
                    <th>
                        Biển số xe
                    </th>
                    <th>
                        Loại xe
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tripList">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Company</td>
                        <td>
                            @item.BusNumber
                        </td>
                        <td>
                            @item.BusType
                        </td>
                        <td>
                         
                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary ">
                                     Edit
                            </a> |
                               
                                <a asp-action="Display" asp-route-id="@item.Id" class="btn btn-primary ">
                                     Detail
                            </a> |
                          
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

