@model IEnumerable<DOANCOSO26.Models.ApplicationUser>

<div class="card shadow border-0 mt-4">
    <div class="">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="">Danh sách tài xế</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <a asp-action="Add" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Tạo vé mới
            </a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>

                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>

                    <th>
                    
                    

                 
                    <th></th>
                </tr>
            </thead>
            <tbody id="tripList">
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-primary" asp-action="Display" asp-route-id="@item.Id">Details</a> |
                          
                            <a class="btn btn-primary" asp-action="UpdateStatus" asp-route-id="@item.Id">Role</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

